.circle  {
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* width: 1000px; */
  height: 500px;
  text-align: center;
  background: linear-gradient(rgb(0, 255, 132), red);
  /* border-radius: auto; */
  margin: auto;
  font-size: 50px;
  color: #fff;
}